@import "../../styles/_mixins";
@import "../../styles/_variables";

.container {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.dialog {
  @include poppinsRegular();
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  padding: 50px;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.tableInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  text-align: left;
}

.tableName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 5px;

  h3 {
    @include poppinsRegular();

    margin: 0;
    padding: 0;
    color: $black;
    font-size: 2rem;
  }

  .icon {
    cursor: pointer;
    transform: rotate(0deg);
    transition: transform 0.3s;

    &:hover {
      color: $secondary-color;
      transform: rotate(-180deg);
    }

    &.active {
      color: $secondary-color;
      animation: rotateAnim 1.25s infinite linear;
    }

    @keyframes rotateAnim {
      0% {
        transform: rotate(0deg);
      }
      100% {
        transform: rotate(-360deg);
      }
    }
  }
}

.table {
  width: 100%;
}

.tableButtons {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  .button {
    @include poppinsRegular();

    padding: 5px 30px;
    text-align: center;
    border: none;
    cursor: pointer;
    font-weight: 600;
    letter-spacing: 1px;

    &.buttonStyle1 {
      background-color: transparent;
      color: $secondary-color;
      border: 2px solid $secondary-color;
      border-radius: 50px;
      transition: transform 0.1s ease-out;

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
        color: darken($secondary-color, 10%);
        border-color: darken($secondary-color, 10%);
      }
    }

    &.buttonStyle2 {
      background-color: $secondary-color;
      color: $white;
      border-radius: 50px;
      transition: transform 0.1s ease-out;

      &:hover {
        transform: scale(1.05);
      }

      &:active {
        transform: scale(0.95);
        background-color: darken($secondary-color, 10%);
      }
    }

    &.buttonStyle3 {
      padding: 0;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent;
      transition: transform 0.25s ease-out;
    }
  }
}

.settings {
  position: absolute;
  display: flex;
  flex-direction: column;
  gap: 10px;
  border: 2px solid $black;
  border-radius: 10px;
  top: 50px;
  right: 0;
  width: 200px;
  background-color: rgb(255, 255, 255);
  opacity: 0;
  transform: translateY(-20px);
  padding: 8px;
  pointer-events: none;
  transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
  font-size: 1rem;
  z-index: 1000;
}

.settings.show {
  opacity: 1;
  transform: translateY(0);
  pointer-events: all;
}

.settingsOption {
  padding: 10px;
  font-size: 14px;
}

.settingsRow {
  @include poppinsRegular();
  letter-spacing: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.settingsOption {
  @include poppinsRegular();
  letter-spacing: 1px;
  cursor: pointer;
}

.separator {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  padding: 1px;
  border-radius: 100px;
  background-color: #cccccc26;
}

.databaseType {
  @include poppinsRegular();
  font-size: 10px;
  color: gray;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.sqlQuery {
  @include poppinsRegular();
  font-size: 0.9rem;
  font-weight: 300;
  letter-spacing: 0.1px;
  color: $black;
  margin-top: 10px;

  & span {
    color: $secondary-color;
    font-weight: 600;
  }
}
