@import "../../styles/_mixins";
@import "../../styles/_variables";

.loaderContainer {
  padding: 50px;
}

.loader {
  width: 20px;
  aspect-ratio: 1;
  border-radius: 50%;
  background: 100% 100% no-repeat content-box
    radial-gradient($primary-color, transparent);

  animation: l2 3s infinite linear;
  position: relative;
}

.loader:before,
.loader:after {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: inherit;

  animation: inherit;
}

.loader:before {
  animation-delay: -1s;
}

.loader:after {
  animation-delay: -2s;
}

@keyframes l2 {
  0% {
    transform: rotate(0deg);
    box-shadow: 0 0 0 0 $primary-color;
  }
  100% {
    transform: rotate(90deg);
    box-shadow: 0 0 0 40px transparent;
  }
}
