/* ToolTip.module.css */
@import url("../../styles/_mixins");
@import url("../../styles/_variables");

.container {
  position: relative;
  display: inline;
  width: fit-content;
  height: fit-content;
}

.tooltip {
  position: absolute;
  bottom: -100%;
  left: -20%;
  z-index: 100;
  padding: 2px;
  border: 2px solid #543f19;
  border-radius: 2px;
  color: #fff;
  background-color: #f5b642;
  font-size: 0.7rem;
  white-space: nowrap;
  pointer-events: none; /* Prevent tooltip from blocking hover events */
  user-select: none;
  font-weight: bold;
}
