@import "../../styles/_mixins";
@import "../../styles/_variables";

$table-border-color: #ddd;
$table-header-bg-color: #f2f2f2;

.tableContainer {
  table {
    @include poppinsRegular();

    width: 100%;
    border-collapse: collapse;

    th,
    td {
      padding: 8px;
    }

    th {
      padding: 10px;
      background-color: $table-header-bg-color;
      text-align: center;
      user-select: none;
    }

    td {
      text-align: center;
    }

    svg {
      color: darken($table-border-color, 30%);
      max-width: 20px;
      max-height: 20px;
    }
  }

  .columnInfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .sortIcon {
    cursor: pointer;

    &.active {
      color: $secondary-color;
    }
  }

  .pagination {
    @include poppinsRegular();

    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 10px;

    .centralControls {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 10px;
    }

    .pageButton {
      @include poppinsRegular();

      font-size: 0.75rem;
      padding: 5px 10px;
      border: none;
      border-radius: 5px;
      letter-spacing: 1.25px;
      background-color: $secondary-color;
      color: white;
      cursor: pointer;

      &:hover {
        background-color: darken($secondary-color, 10%);
      }

      &:disabled,
      &.disabled {
        background-color: grey;
        cursor: not-allowed;
      }
    }
  }

  .filterControls {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
    margin-bottom: 10px;

    .resetButton {
      padding: 5px 10px;
      background-color: grey;
      color: white;
      cursor: pointer;
      border: none;
      border-radius: 5px;
      letter-spacing: 1.25px;

      &.highlighted {
        background-color: $secondary-color;
      }

      &.disabled {
        background-color: grey;
        cursor: not-allowed;
      }

      &.disabled:hover {
        background-color: grey;
      }

      &:hover {
        background-color: darken($secondary-color, 10%);
      }
    }
  }

  .cell {
    &.small {
      padding: 4px;
    }

    &.medium {
      padding: 8px;
    }

    &.large {
      padding: 12px;
    }

    &.left {
      text-align: left;
    }

    &.center {
      text-align: center;
    }

    &.right {
      text-align: right;
    }
  }

  .bordered th,
  .bordered td {
    border: 1px solid $table-border-color;
  }

  .noBorder th,
  .noBorder td {
    border: none;
  }
}
