@import "../../styles/_mixins";
@import "../../styles/_variables";

.userSection {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.formContainer {
  @include poppinsRegular();

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  min-width: 300px;
  gap: 1rem;
  user-select: none;
  transition: all 0.2s;
}

.formTitle {
  @include Montserrat();

  font-size: 1.5rem;
  margin-bottom: 1rem;

  &::after {
    display: block;
    width: 100%;
    height: 3px;
    border-radius: 100px;
    content: "";
    background: $secondary-color;
  }
}

.textField {
  @include poppinsRegular();

  width: 100%;
  text-align: left;
  user-select: text;
}

.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    @include Montserrat();

    font-size: 1rem;
    margin-bottom: 0.25rem;
  }

  input {
    @include poppinsRegular();

    position: relative;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
  }
}

.passwordField {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: right;
  align-items: center;
  gap: 1 rem;

  .eyeIcon {
    position: absolute;
    right: 5px;
    background-color: $white;
    cursor: pointer;
  }
}

.formButton {
  @include poppinsRegular();

  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  background: $secondary-color;
  cursor: pointer;
  transition: background 0.2s;

  &:hover {
    background: darken($secondary-color, 10%);
  }

  &:disabled {
    background: #ccc;
    cursor: not-allowed;
  }

  &:active {
    scale: 0.95;
  }
}

.error {
  @include poppinsRegular();

  color: red;
  font-size: 0.75rem;
}

.switchButton {
  @include poppinsRegular();

  margin: none;
  padding: none;
  font-size: 1rem;
}

.switch {
  @include poppinsRegular();

  border: none;
  color: $secondary-color;
  background-color: transparent;
  font-size: 1rem;
  cursor: pointer;
  text-decoration: underline;
}

.oAuthButton {
  @include poppinsRegular();

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border: 1px solid $secondary-color;
  border-radius: 100px;
  color: $black;
  background-color: transparent;
  font-size: 1rem;
  gap: 10px;
  cursor: pointer;
  transition: transform 0.2s, background-color 0.2s;

  &:hover {
    color: $white;
    background-color: $secondary-color;
  }

  &:active {
    scale: 0.95;
  }
}

.separator {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  padding: 1px;
  border-radius: 100px;
  background-color: #cccccc50;
}
