@import "../../styles/_mixins";
@import "../../styles/_variables";

.container {
  min-width: 250px;
  min-height: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.formContainer {
  @include poppinsRegular();

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
  gap: 1rem;
  user-select: none;
  transition: all 0.2s;
}

.formTitle {
  @include Montserrat();

  font-size: 1.5rem;
  margin-bottom: 1rem;
  text-align: center;

  &::after {
    display: block;
    width: 100%;
    margin-top: 3px;
    height: 3px;
    border-radius: 100px;
    content: "";
    background: $secondary-color;
  }
}

.dbSelect {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
}

.dbButton {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  border: 2px solid $black;
  cursor: pointer;

  svg {
    width: 2.5rem;
    height: 2.5rem;
    color: $black;
  }

  &:hover {
    border: 2px solid $secondary-color;
  }

  &:active {
    transform: scale(0.95);
  }
}

.formField {
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;

  label {
    @include Montserrat();

    font-size: 1rem;
    margin-bottom: 0.25rem;
    display: flex;
    align-items: center;

    input[type="checkbox"] {
      margin-right: 0.5rem;
    }
  }

  & .input {
    @include poppinsRegular();

    position: relative;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    margin-top: 0.25rem;
  }
}

.formCheck {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 1rem;
  letter-spacing: 1.25px;

  & input {
    margin-top: 6px;

    &:hover {
      cursor: pointer;
    }
  }
}

.formActions {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2rem;
  margin-top: 20px;

  & button {
    @include poppinsRegular();

    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    background: $secondary-color;
    cursor: pointer;
    transition: background 0.2s;

    &:hover {
      background: darken($secondary-color, 10%);
    }

    &:disabled {
      background: #ccc;
      cursor: not-allowed;
    }

    &:active {
      scale: 0.95;
    }
  }
}

.message {
  @include poppinsRegular();

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 1rem;

  & button {
    @include poppinsRegular();

    padding: 0.5rem 1rem;
    border: none;
    border-radius: 5px;
    color: white;
    font-size: 1rem;
    background: $secondary-color;
    cursor: pointer;
    transition: background 0.2s, scale 0.1s;

    &:hover {
      background: darken($secondary-color, 10%);
      border: none;
      scale: 1.05;
    }

    &:disabled {
      background: #ccc;
      cursor: not-allowed;
      border: none;
    }

    &:active {
      scale: 0.95;
      border: none;
    }
  }
}
