// src/app/components/Dialog/Dialog.module.scss

@import "../../styles/variables.scss";

.dialogOverlay {
  position: fixed;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  background: rgb(0 0 0 / 10%);
  backdrop-filter: blur(4px);
}

.dialog {
  position: relative;
  padding: 20px;
  border: 3px solid $secondary-color;
  border-radius: 10px;
  background: white;
  min-width: fit-content;
}

.closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  font-size: 1.5rem;
  background: none;
  cursor: pointer;
}

.closeIcon {
  color: $black;

  &:hover {
    color: $secondary-color;
  }

  &:active {
    scale: 0.9;
  }
}
