@import "../../styles/_mixins";
@import "../../styles/_variables";

.container {
  @include poppinsRegular();
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
  min-width: 300px;
  min-height: 300px;
  padding: 20px;
  transition: width 0.5s;
}

.verticalDivider {
  width: 3px;
  height: 100%;
  min-height: 300px;
  margin: 0 10px;
  padding: 1px;
  border-radius: 100px;
  background-color: #cccccc50;
}

.divider {
  width: 100%;
  height: 1px;
  margin: 10px 0;
  padding: 1px;
  border-radius: 100px;
  background-color: #cccccc50;
}

.connectionListItem {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
  border-radius: 5px;
  color: $black;
  user-select: none;
}

.connectionDatabase {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  font-size: 1rem;
  gap: 5px;
  font-weight: bold;
}

.connectionName {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.connectionIcons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 10px;

  & svg {
    cursor: pointer;

    &:hover {
      color: $secondary-color;
    }
  }
}

.showConnection {
  width: 100%;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: left;
  gap: 10px;

  & span {
    font-weight: 600;
  }
}
